body {
    text-align: center;
    margin-top: 50px;
}

#image-canvas {
    border: 1px solid #ccc;
    margin-top: 20px;
}

#color-info {
    padding: 10px;
    margin-top: 20px;
    font-size: 18px;
    border: 1px solid #ccc;
}

.crosshair {
    cursor: crosshair;
}

.color-item {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.color-box {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}
